*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #161618;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.header .container {
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: #e3b062;
}

.agora {
  font-size: 30px;
}

.navbar {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-size: 30px;
  color: #e3b062;
}

/* BANNER */

.banner {
  height: fit-content;
  height: 100%;
}

.banner .container {
  height: 70vh;
  width: 100%;
  background-image: url("../assets/imgs/home/baner2.jpg");
  background-size: cover;
  background-position: center;
}

/* BANNER2 */
.banner2{
  height: fit-content;
  height: 100%;
}

.banner2 .container{
  height: 70vh;
  width: 100%;
  background-image: url("../assets/imgs/personagens/baner.jpeg");
  background-size: cover;
}

/* SOBRE */

.sobre{
  padding: 0;
  width: 100%;
  height: 60vh;
  color: #e3b062;
  background-image: url("../assets/imgs/home/fundo.gif");
  background-size: cover;
  border-top: 3px solid rgba(255, 217, 0, 0.548);  
}

.sobre .container{
  display: grid;
  align-items: center;
  font-size: 20px;
}

.vagalumes{
  margin-top: 60px;
  padding: 0;
  width: 100%;
  color: #e3b062;
  background-image: url("../assets/imgs/home/vagalumes.jpeg");
  background-size: cover;
}

.fedra{
  padding: 0;
  width: 100%;
  color: #e3b062;
  background-image: url("../assets/imgs/home/fedra.jpeg");
  background-size: cover;
  border-bottom: 3px solid rgba(255, 217, 0, 0.548);
}

/* historia */
.historia{
  padding: 0;
  width: 100%;
  height: 100%;
  color: #e3b062;
  background-image: url("../assets/imgs/home/fundo.gif");
  background-size: cover;
  border-top: 3px solid rgba(255, 217, 0, 0.548);  
}

.historia .container{
  display: grid;
  align-items: center;
  font-size: 20px;
}

.historia .container img{
  height: 300x;
  width: 300px;
}

.historia .container .inimigos{
  height: 200px !important;
  width: 500px !important;
}


/* FOOTER */
footer{
  background-color: black;
  color: #e3b062;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
}

a{
  text-decoration: none;
  color: #e3b062;
}

a:hover{
  color: #e6005a;
}

/* MUSICAS */
.pg {
  height: fit-content;
  height: 100%;
}

.pg .container {
  height: 50vh;
  width: 100%;
  background-image: url("../assets/imgs/musica/img_tela_musica.jpeg");
  background-size: cover;
  background-position: center;
}

.hero{
  width: 100%;
  height: 60vh;
  background-image: url(../assets/imgs/home/fundo.gif);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.music{
  width: 90%;
  padding: 30px;
  background-color: rgba(14, 9, 9,0.74);
  display: flex;
}

.music img{
  width: 250px;
}

.music .info{
  color: #ddd;
  margin-left: 30px;
  flex: 1;
}

.music .info h2{
  font-size: 26px;
  font-weight: 700;
}

.music .info p{
  font-size: 20px;
  margin: 10px 0 40px 0;
}

.player{
  display: flex;
  justify-content: space-around;

}

.player img{
  width: 40px;
}

.duracao{
  width: 300px;
  margin-top: -30px;
}

.barra{
  width: 300px;
  height: 10px;
  border: 1px solid #e3b062;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

progress{
  height: 10px;
  width: 0%;
}

.ponto{
  width: 15px;
  height: 15px;
  background-color: #eee;
  border-radius: 50%;
  margin-left: -10px;
}

.tempo{
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.botao-play, .botao-pause{
  width: 50px !important;
  cursor: pointer;
}

.setas{
  cursor: pointer;
}

.botao-pause{
  display: none;
}


/* LOGIN */
main {
  display: flex;
  height: 120vh;
}

.tela{
  width: 100%;
  height: 100%;
  background-image: url(../assets/imgs/login_cadastro/login.jpg);
  background-position: center;
  background-repeat: no-repeat  ;
  background-size: cover;
}
.tela .container .card {
  margin-top: 200px;
  margin-left: 100px;
  background-color: #212124;
  width: 400px;
  height: 360px;
  display: flex;
  flex-direction: column;
  color: #e3b062;
  align-items: center;
  border-radius: 4px;
}

.tela .container .card_medio {
  margin-top: 100px;
  margin-left: 40px;
  background-color: #212124;
  width: 460px;
  height: 460px;
  display: flex;
  flex-direction: column;
  color: #e3b062;
  align-items: center;
  border-radius: 4px;
}

.card {
  display: flex;
  justify-content: space-around;
}

.card h2 {
  font-size: 30px;
}

.card h4 {
  font-size: 16px;
}

.card_medio {
  display: flex;
  justify-content: space-around;
}

.card_medio h2 {
  font-size: 30px;
}

.card_medio h4 {
  font-size: 16px;
}

.banner #div_erros_login {
  margin-top: 10px;
}

button {
  cursor: pointer;
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #212124;
  color: #e3b062;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e3b062 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* barra lateral */

.conteudo a {
  text-decoration: none;
  color: #e3b062;
}

.conteudo ul{
  list-style: none;
  top: 105px;
  position: absolute;
  width: 100%;
}

.conteudo input[type="checkbox"]:checked ~ nav{
  transform: translateX(350px);
}

#risco{
  width: 200px;
}

.conteudo input[type="checkbox"]{
  display: none;
}

.nav{
  background-color: black;
  width: 350px;
  left: -350px;
  height: 100vh;
  position: absolute;
}

#a{
  display: block;
  padding: 20px 5px;
  color: #e3b062;
}

#a:hover{
  background-color: antiquewhite;
  color: black;
}

.conteudo label{
  padding: 15px;
  position: absolute;
  z-index: 1;
}



.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #e3b062;
  background-color: #161618;
}

.dash-right {
  display: flex;
  width: 75%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
}

.header-left h1 {
  color: #32b9cd;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  background-color: #161618;
  border: 3px solid #e3b062;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: #161618;
  border: 3px solid #e3b062;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: crimson;
  
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}
